# Tema 2: Actividad 1 - Ejecución de FP-Growth
### Autor: Juan José Méndez Torrero

In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', sep=",")

columns = ["age","workclass","fnlwgt","education","education-num","marital-status","occupation","relationship","race","sex","capital-gain","capital-loss","hours-per-week","native-country", "class"]

data.columns = columns

In [3]:
data = data.drop("fnlwgt", axis=1)

data["age"] = pd.cut(data["age"], bins=3, right=False)
data["education-num"] = pd.cut(data["education-num"], bins=3, right=False)
data["capital-gain"] = pd.cut(data["capital-gain"], bins=3, right=False)
data["capital-loss"] = pd.cut(data["capital-loss"], bins=3, right=False)
data["hours-per-week"] = pd.cut(data["hours-per-week"], bins=3, right=False)

data

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,"[41.333, 65.667)",Self-emp-not-inc,Bachelors,"[11.0, 16.015)",Married-civ-spouse,Exec-managerial,Husband,White,Male,"[0.0, 33333.0)","[0.0, 1452.0)","[1.0, 33.667)",United-States,<=50K
1,"[17.0, 41.333)",Private,HS-grad,"[6.0, 11.0)",Divorced,Handlers-cleaners,Not-in-family,White,Male,"[0.0, 33333.0)","[0.0, 1452.0)","[33.667, 66.333)",United-States,<=50K
2,"[41.333, 65.667)",Private,11th,"[6.0, 11.0)",Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,"[0.0, 33333.0)","[0.0, 1452.0)","[33.667, 66.333)",United-States,<=50K
3,"[17.0, 41.333)",Private,Bachelors,"[11.0, 16.015)",Married-civ-spouse,Prof-specialty,Wife,Black,Female,"[0.0, 33333.0)","[0.0, 1452.0)","[33.667, 66.333)",Cuba,<=50K
4,"[17.0, 41.333)",Private,Masters,"[11.0, 16.015)",Married-civ-spouse,Exec-managerial,Wife,White,Female,"[0.0, 33333.0)","[0.0, 1452.0)","[33.667, 66.333)",United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,"[17.0, 41.333)",Private,Assoc-acdm,"[11.0, 16.015)",Married-civ-spouse,Tech-support,Wife,White,Female,"[0.0, 33333.0)","[0.0, 1452.0)","[33.667, 66.333)",United-States,<=50K
32556,"[17.0, 41.333)",Private,HS-grad,"[6.0, 11.0)",Married-civ-spouse,Machine-op-inspct,Husband,White,Male,"[0.0, 33333.0)","[0.0, 1452.0)","[33.667, 66.333)",United-States,>50K
32557,"[41.333, 65.667)",Private,HS-grad,"[6.0, 11.0)",Widowed,Adm-clerical,Unmarried,White,Female,"[0.0, 33333.0)","[0.0, 1452.0)","[33.667, 66.333)",United-States,<=50K
32558,"[17.0, 41.333)",Private,HS-grad,"[6.0, 11.0)",Never-married,Adm-clerical,Own-child,White,Male,"[0.0, 33333.0)","[0.0, 1452.0)","[1.0, 33.667)",United-States,<=50K
32559,"[41.333, 65.667)",Self-emp-inc,HS-grad,"[6.0, 11.0)",Married-civ-spouse,Exec-managerial,Wife,White,Female,"[0.0, 33333.0)","[0.0, 1452.0)","[33.667, 66.333)",United-States,>50K

In [4]:
data_encoded = pd.get_dummies(data)

data_encoded

,"age_[17.0, 41.333)","age_[41.333, 65.667)","age_[65.667, 90.073)",workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,...,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia,class_ <=50K,class_ >50K
0,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
1,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
2,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
3,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
4,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
32556,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,1
32557,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
32558,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
32559,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1

In [21]:
from mlxtend.frequent_patterns import fpgrowth

In [48]:
results = fpgrowth(data_encoded, min_support=0.1, use_colnames=True)

lengths = [len(x) for x in results["itemsets"]]

print("La máxima longitud del itemset encontrado es: {0}".format(max(lengths)))

res_50 = pd.DataFrame()
for sup, items in zip(results["support"], results["itemsets"]):

    for itm in items:

        if "class_" in itm:
            res_50 = res_50.append(pd.Series([sup, items]), ignore_index=True)

res_50.columns = results.columns

print(results)

print(res_50)

La máxima longitud del itemset encontrado es: 10
       support                                           itemsets
0     0.994902                      (capital-gain_[0.0, 33333.0))
1     0.955958                       (capital-loss_[0.0, 1452.0))
2     0.895854                    (native-country_ United-States)
3     0.854269                                      (race_ White)
4     0.759183                                     (class_ <=50K)
...        ...                                                ...
8211  0.104238  (capital-gain_[0.0, 33333.0), occupation_ Craf...
8212  0.103900  (capital-gain_[0.0, 33333.0), occupation_ Craf...
8213  0.105713  (capital-gain_[0.0, 33333.0), relationship_ Un...
8214  0.104238  (capital-loss_[0.0, 1452.0), relationship_ Unm...
8215  0.104115  (capital-gain_[0.0, 33333.0), capital-loss_[0....

[8216 rows x 2 columns]
       support                                           itemsets
0     0.759183                                     (class_ <=50K)
1     0.697052                               (workclass_ Private)
2     0.240817                                      (class_ >50K)
3     0.758968        (capital-gain_[0.0, 33333.0), class_ <=50K)
4     0.738821         (class_ <=50K, capital-loss_[0.0, 1452.0))
...        ...                                                ...
6153  0.103501  (capital-gain_[0.0, 33333.0), race_ White, edu...
6154  0.101597  (race_ White, education-num_[6.0, 11.0), class...
6155  0.101505  (capital-gain_[0.0, 33333.0), education-num_[6...
6156  0.100184           (class_ <=50K, occupation_ Adm-clerical)
6157  0.100184  (capital-gain_[0.0, 33333.0), occupation_ Adm-...

[6158 rows x 2 columns]

In [45]:
results = fpgrowth(data_encoded, min_support=0.3, use_colnames=True)

lengths = [len(x) for x in results["itemsets"]]

print("La máxima longitud del itemset encontrado es: {0}".format(max(lengths)))

res_50 = pd.DataFrame()
for sup, items in zip(results["support"], results["itemsets"]):

    for itm in items:

        if "class_" in itm:
            res_50 = res_50.append(pd.Series([sup, items]), ignore_index=True)

res_50.columns = results.columns

print(results)

print(res_50)

La máxima longitud del itemset encontrado es: 7
      support                                           itemsets
0    0.994902                      (capital-gain_[0.0, 33333.0))
1    0.955958                       (capital-loss_[0.0, 1452.0))
2    0.895854                    (native-country_ United-States)
3    0.854269                                      (race_ White)
4    0.759183                                     (class_ <=50K)
..        ...                                                ...
712  0.312991      (class_ <=50K, marital-status_ Never-married)
713  0.318857  (capital-gain_[0.0, 33333.0), marital-status_ ...
714  0.312869  (capital-gain_[0.0, 33333.0), marital-status_ ...
715  0.305590  (class_ <=50K, marital-status_ Never-married, ...
716  0.305467  (capital-gain_[0.0, 33333.0), marital-status_ ...

[717 rows x 2 columns]
      support                                           itemsets
0    0.759183                                     (class_ <=50K)
1    0.697052                               (workclass_ Private)
2    0.758968        (capital-gain_[0.0, 33333.0), class_ <=50K)
3    0.738821         (class_ <=50K, capital-loss_[0.0, 1452.0))
4    0.675614      (class_ <=50K, native-country_ United-States)
..        ...                                                ...
389  0.301904  (capital-gain_[0.0, 33333.0), class_ <=50K, ca...
390  0.312991      (class_ <=50K, marital-status_ Never-married)
391  0.312869  (capital-gain_[0.0, 33333.0), marital-status_ ...
392  0.305590  (class_ <=50K, marital-status_ Never-married, ...
393  0.305467  (capital-gain_[0.0, 33333.0), marital-status_ ...

[394 rows x 2 columns]

In [46]:
results = fpgrowth(data_encoded, min_support=0.5, use_colnames=True)

lengths = [len(x) for x in results["itemsets"]]

print("La máxima longitud del itemset encontrado es: {0}".format(max(lengths)))

res_50 = pd.DataFrame()
for sup, items in zip(results["support"], results["itemsets"]):

    for itm in items:

        if "class_" in itm:
            res_50 = res_50.append(pd.Series([sup, items]), ignore_index=True)

res_50.columns = results.columns

print(results)

print(res_50)

La máxima longitud del itemset encontrado es: 5
      support                                           itemsets
0    0.994902                      (capital-gain_[0.0, 33333.0))
1    0.955958                       (capital-loss_[0.0, 1452.0))
2    0.895854                    (native-country_ United-States)
3    0.854269                                      (race_ White)
4    0.759183                                     (class_ <=50K)
..        ...                                                ...
126  0.543428  (capital-gain_[0.0, 33333.0), age_[17.0, 41.33...
127  0.524355  (age_[17.0, 41.333), capital-loss_[0.0, 1452.0...
128  0.522819  (capital-gain_[0.0, 33333.0), age_[17.0, 41.33...
129  0.516370  (capital-gain_[0.0, 33333.0), age_[17.0, 41.33...
130  0.508385  (capital-gain_[0.0, 33333.0), age_[17.0, 41.33...

[131 rows x 2 columns]
     support                                           itemsets
0   0.759183                                     (class_ <=50K)
1   0.697052                               (workclass_ Private)
2   0.758968        (capital-gain_[0.0, 33333.0), class_ <=50K)
3   0.738821         (class_ <=50K, capital-loss_[0.0, 1452.0))
4   0.675614      (class_ <=50K, native-country_ United-States)
5   0.635688                        (class_ <=50K, race_ White)
6   0.584398    (class_ <=50K, hours-per-week_[33.667, 66.333))
7   0.738606  (capital-gain_[0.0, 33333.0), capital-loss_[0....
8   0.675430  (capital-gain_[0.0, 33333.0), native-country_ ...
9   0.657217  (class_ <=50K, capital-loss_[0.0, 1452.0), nat...
10  0.657033  (capital-gain_[0.0, 33333.0), capital-loss_[0....
11  0.635504  (capital-gain_[0.0, 33333.0), race_ White, cla...
12  0.618335  (class_ <=50K, capital-loss_[0.0, 1452.0), rac...
13  0.580958  (class_ <=50K, race_ White, native-country_ Un...
14  0.618151  (capital-gain_[0.0, 33333.0), capital-loss_[0....
15  0.580805  (capital-gain_[0.0, 33333.0), race_ White, nat...
16  0.564527  (class_ <=50K, race_ White, capital-loss_[0.0,...
17  0.564373  (capital-gain_[0.0, 33333.0), race_ White, cla...
18  0.584337  (capital-gain_[0.0, 33333.0), hours-per-week_[...
19  0.567967  (class_ <=50K, hours-per-week_[33.667, 66.333)...
20  0.517721  (class_ <=50K, hours-per-week_[33.667, 66.333)...
21  0.567905  (capital-gain_[0.0, 33333.0), hours-per-week_[...
22  0.517660  (capital-gain_[0.0, 33333.0), hours-per-week_[...
23  0.502948  (class_ <=50K, hours-per-week_[33.667, 66.333)...
24  0.502887  (capital-gain_[0.0, 33333.0), class_ <=50K, ca...
25  0.694441  (workclass_ Private, capital-gain_[0.0, 33333.0))
26  0.668673   (workclass_ Private, capital-loss_[0.0, 1452.0))
27  0.618397  (workclass_ Private, native-country_ United-St...
28  0.595946                  (workclass_ Private, race_ White)
29  0.572543  (workclass_ Private, hours-per-week_[33.667, 6...
30  0.544625                 (workclass_ Private, class_ <=50K)
31  0.544625                 (workclass_ Private, class_ <=50K)
32  0.666063  (workclass_ Private, capital-gain_[0.0, 33333....
33  0.616063  (workclass_ Private, capital-gain_[0.0, 33333....
34  0.592383  (workclass_ Private, capital-loss_[0.0, 1452.0...
35  0.590049  (workclass_ Private, capital-gain_[0.0, 33333....
36  0.593612  (workclass_ Private, capital-gain_[0.0, 33333....
37  0.570608  (workclass_ Private, capital-loss_[0.0, 1452.0...
38  0.544472  (workclass_ Private, race_ White, native-count...
39  0.568274  (workclass_ Private, capital-gain_[0.0, 33333....
40  0.542260  (workclass_ Private, capital-gain_[0.0, 33333....
41  0.520301  (workclass_ Private, race_ White, capital-loss...
42  0.518090  (capital-gain_[0.0, 33333.0), race_ White, cap...
43  0.570240  (workclass_ Private, capital-gain_[0.0, 33333....
44  0.547912  (workclass_ Private, hours-per-week_[33.667, 6...
45  0.506388  (workclass_ Private, hours-per-week_[33.667, 6...
46  0.545608  (workclass_ Private, capital-gain_[0.0, 33333....
47  0.504330  (workclass_ Private, capital-gain_[0.0, 33333....
48  0.544533  (workclass_ Private, capital-gain_[0.0, 33333....
49  0.544533  (workclass_ Private, capital-gain_[0.0, 33333....
50  0.530743  (workclass_ Private, class_ <=50K, capital-los...
51  0.530743  (workclass_ Private, class_ <=50K, capital-los...
52  0.530651  (workclass_ Private, capital-gain_[0.0, 33333....
53  0.530651  (workclass_ Private, capital-gain_[0.0, 33333....
54  0.525676          (class_ <=50K, education-num_[6.0, 11.0))
55  0.525522  (capital-gain_[0.0, 33333.0), class_ <=50K, ed...
56  0.512009  (class_ <=50K, capital-loss_[0.0, 1452.0), edu...
57  0.511855  (capital-gain_[0.0, 33333.0), class_ <=50K, ca...
58  0.508538                 (class_ <=50K, age_[17.0, 41.333))
59  0.508385  (capital-gain_[0.0, 33333.0), age_[17.0, 41.33...

In [50]:
results = fpgrowth(data_encoded, min_support=0.7, use_colnames=True)

lengths = [len(x) for x in results["itemsets"]]

print("La máxima longitud del itemset encontrado es: {0}".format(max(lengths)))

res_50 = pd.DataFrame()
for sup, items in zip(results["support"], results["itemsets"]):

    for itm in items:

        if "class_" in itm:
            res_50 = res_50.append(pd.Series([sup, items]), ignore_index=True)

res_50.columns = results.columns

print(results)

print(res_50)

La máxima longitud del itemset encontrado es: 4
     support                                           itemsets
0   0.994902                      (capital-gain_[0.0, 33333.0))
1   0.955958                       (capital-loss_[0.0, 1452.0))
2   0.895854                    (native-country_ United-States)
3   0.854269                                      (race_ White)
4   0.759183                                     (class_ <=50K)
5   0.804668                  (hours-per-week_[33.667, 66.333))
6   0.950860  (capital-gain_[0.0, 33333.0), capital-loss_[0....
7   0.891308  (capital-gain_[0.0, 33333.0), native-country_ ...
8   0.855866  (capital-loss_[0.0, 1452.0), native-country_ U...
9   0.851321  (capital-gain_[0.0, 33333.0), capital-loss_[0....
10  0.849785         (capital-gain_[0.0, 33333.0), race_ White)
11  0.815295          (capital-loss_[0.0, 1452.0), race_ White)
12  0.786855       (race_ White, native-country_ United-States)
13  0.810811  (capital-gain_[0.0, 33333.0), capital-loss_[0....
14  0.782586  (capital-gain_[0.0, 33333.0), race_ White, nat...
15  0.749969  (race_ White, capital-loss_[0.0, 1452.0), nati...
16  0.745700  (capital-gain_[0.0, 33333.0), race_ White, cap...
17  0.758968        (capital-gain_[0.0, 33333.0), class_ <=50K)
18  0.738821         (class_ <=50K, capital-loss_[0.0, 1452.0))
19  0.738606  (capital-gain_[0.0, 33333.0), capital-loss_[0....
20  0.800461  (capital-gain_[0.0, 33333.0), hours-per-week_[...
21  0.766830  (hours-per-week_[33.667, 66.333), capital-loss...
22  0.719226  (hours-per-week_[33.667, 66.333), native-count...
23  0.762623  (capital-gain_[0.0, 33333.0), hours-per-week_[...
24  0.715448  (capital-gain_[0.0, 33333.0), hours-per-week_[...
    support                                           itemsets
0  0.759183                                     (class_ <=50K)
1  0.758968        (capital-gain_[0.0, 33333.0), class_ <=50K)
2  0.738821         (class_ <=50K, capital-loss_[0.0, 1452.0))
3  0.738606  (capital-gain_[0.0, 33333.0), capital-loss_[0....

In [52]:
res_50["itemsets"][3]

frozenset({'capital-gain_[0.0, 33333.0)',
           'capital-loss_[0.0, 1452.0)',
           'class_ <=50K'})